@media (max-width:1199px) {
    .mobilePhoneBGImg {
        display: none;
    }

    /* .mobiledatabox {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
    } */

    .mobileMainBox {
        width: 370px;
        margin: 0 auto;
    }

    .blackLogoimg {
        position: relative;
        bottom: auto;
        margin-bottom: 30px;
    }

    .socialfillinfobox .form-group {
        width: 100% !important;
    }

    .socialfillinfobox {
        display: block;
    }

    .socialfillinfobox .form-group:first-child {
        margin-bottom: 20px;
    }

    .togetherLeftImgBox{display: none}
    .linkTogetherSection{text-align: left;}    
    .signUpMainImgBox{display: none;}
    .signinContent {width: 100%;}
    .signinContentBoxInner,.forGotMainBox {max-width: 400px;}
    .forGotBgImg{display: none;}
}

@media (min-width:992px) {
    .menuIcon{display: none;}
    .respoMenu{display: none;}
}

@media (max-width: 991px) {
    .socialIconBx {
        width: 70px;
    }

    .userLogoBox {
        position: relative;
        right: auto;
        top: auto;
    }

    .userInfoBox {
        padding: 24px;
    }

    .successModel {
        padding: 0 !important;
    }

    .togetherMiddleBox h2 {font-size: 60px;}
    .respoHide{display: none;}
    .sweplyMenu.respoMenu {height: 100vh;overflow: auto;position: fixed;z-index: 9;width: 289px;background: #ffffff;left: -100%;top: 0;visibility: hidden;opacity: 0;transition: 0.5s;}
    .menuOpen .sweplyMenu.respoMenu{left: 0;opacity: 1;visibility: visible;transition: 0.5s;}
    .sweplyMenu li a{color: #333b4a;display: inline-block;padding: 8px 10px;}
    .sweplyMenu li{display: block;}
    .menuClose{margin: 10px 0;}
}

@media (max-width: 767px) {
    .mainSection {
        display: block;
    }

    .leftSideSection {
        width: 100%;
    }

    .rightSideSection {
        padding: 30px 20px 0;
    }

    .togetherRightImgBox,.phoneImgRight{display: none;}
    /* .homeMiddle{height: calc(100vh - 252px);} */
    .footerFirstSection{display: block;}
    .footerRightMenuBox ul{display: block;}
    .footerRightMenuBox li a{padding: 5px 12px;display: inline-block;color: #9e9e9e;}
    .veryficationSection {padding: 38px 20px;}
    .veryficationSection{width: auto;left: 15px;right: 15px;}
    .sitesListSection{flex-flow: wrap;}
    /* .sitesListSectionCol{max-width: 240px;margin-bottom: 24px;} */
    .togetherMiddleBox{margin-top: 0;}
    .togetherMiddleBox h2 {
        font-size: 40px;
    }
    .togetherMiddleBox p.font24{font-size: 18px;}
    .footer2ndBox{display: block; padding-bottom: 20px;}
}

@media (max-width:576px) {
    .createWebsiteModal .modal-dialog{max-width: none;top: 37%;transform: translateY(-50%) !important;}
    .sitesListSectionCol {max-width: 100%;}
    .sweplyMenu.respoMenu{width: 100%;}
    .cliamSection .input-box{width: 100%;}
    .claimBtn{margin-top: 0px;width: 100%;}
}